.footer
  = link_to "Главная", ""
  = " | "
  = link_to "Контакты", ""
  = " | "
  = link_to "Портфолио", ""
  = " | "
  = link_to "Блог", ""
  = " | "
  %br
  По вопросам заказов и размещения рекламы обращаться:
  %br
  %i.icon-phone
  Skype:
  = link_to "norryn1"
  |
  %i.icon-google-plus
  E-mail:
  = link_to "alextodef@gmail.com"
  |
  %i.icon-twitter
  = link_to "Мы в твиттере"
