.top_menu
  .navbar
    .navbar-inner
      .brand
        %i.icon-reorder
      %ul.nav.pull-left
        %li.active
          %a{href: "/"}
            %i.icon-home
            Главная
        %li
          %a{href: "#{pages_url(name: "contacts")}"}
            %i.icon-envelope-alt
            Контакты
        %li
          %a{href: "#{pages_url(name: "portfolio")}"}
            %i.icon-briefcase
            Портфолио
        %li
          %a{href: "#{pages_url(name: "pricing")}"}
            %i.icon-briefcase
            Услуги и цены
        %li.dropdown
          %a.dropdown-toggle{href:"#", "data-toggle" => "dropdown"}
            %i.icon-list-alt
            Блог
            %b.caret
          %ul.dropdown-menu
            - ArticleCategory.all.each do |article|
              %li
                = link_to article.title, article_category_path(article)

      - if user_signed_in?
        %ul.nav.pull-right
          %li
            = link_to icon("signout", "Выход"), destroy_user_session_path, :method => :delete
      - else
        %ul.nav.pull-right
          %li
            %a{href: "#{new_user_registration_path}"}
              %i.icon-signin
              Регистрация
          %li
            = link_to icon("key", "Вход"), new_user_session_path












