%ul
  %li
    = icon("google-plus", "E-mail: creative.railway@gmail.com")
  %li
    = icon("phone", "Skype: creative.railway")
  %li
    = icon("twitter", "Twitter")
    = link_to "@creative.railway", "#"

= nav_change(" Контакты")
