%h3
  Добро пожаловать!
%legend
.text-container
  %p
    Быстрое и эффективное донесение информации до потребителя - залог успеха любого бизнеса.
    Ресторан, подробное меню которого будет можно увидеть на сайте перед посещением, будет пользоваться
    явно большим успехом, чем конкуренты. Магазин, ассортимент которго можно увидеть на его интертнет-
    страничке, покупатели будет посещать гораздо чаще. Инетрнет становится самым быстрым способом
    продвижения услуг - ведь есть ли еще место, где информация распространяется так быстро, и где
    в два клика мышкой можно получить любые интересующие Вас данные?
  %p
    Мы - группа веб-разработчиков CreativeRailway, готовы предложить Вам свои услуги:
    %ul
      %li
        = icon("ok", "Разработка сайтов-визиток")
      %li
        = icon("ok", "Разработка интернет-магазинов")
      %li
        %i.icon-ok
        %a{href: "http://ru.wikipedia.org/wiki/Система_управления_содержимым", target: "_blank", rel: "tooltip", title: "Content Management System <br> подробности на википедии", "data-placement" => "right"}
          Разработка CMS
      %li
        = icon("ok", "Подключение платежных систем (WebMoney, Yandex деньги и т.д.)")
      %li
        = icon("ok", "Подключение платежных систем  платежных агрегаторов")
      %li
        %i.icon-ok
        %a{href: "/pricing", rel: "tooltip", title: "Ваш сайт на первой странице поисковых систем!", "data-placement" => "right"}
          Продвижение сайтов
    Подробную информацию о каждом типе услуг и их стоимости Вы можете получить в разделе
    %a{href: "/pricing"}
      услуги и цены

= nav_change(" Главная")